!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      =link_to 'Strona Główna', root_path
      |
      =link_to 'O nas', about_path
      |
      =link_to 'Oferta', offer_path
      |
      =link_to 'Reklamacje', claims_path
      |
      =link_to 'Kontakt', contact_path
      -if current_user
        #user_nav
          =link_to 'Edytuj profil', edit_profile_path
          |
          =link_to 'Wyloguj się', logout_path
      -else
        #user_nav
          =link_to 'Zaloguj się', login_path
          |
          =link_to 'Zarejestruj się', register_path
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
      #footer
        Wszelkie kurwa prawa zastrzeżone.
      %br

