%h1
  Rejestracja
  (
  =step?
  \/
  3
  )
= form_for @account do |f|
  =f.error_messages
  = render "#{@account.current_step}_step", :f => f
  = f.submit "< Poprzedni krok", :name => "back_button" unless @account.first_step?
  = f.submit "Następny krok >"
%p
  =link_to 'Pomoc online'
  |
  =link_to 'Rozmowa skype', 'callto://bangeusz/'

